* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	background-color: #412A3D;
}

body {
	background-color: #FFF;
	max-width: 1500px;
	margin: 0 auto;
	padding: 0;
	-webkit-box-shadow: 0px 0px 65px 1px rgba(0,0,0,0.56);
	-moz-box-shadow: 0px 0px 65px 1px rgba(0,0,0,0.56);
	box-shadow: 0px 0px 65px 1px rgba(0,0,0,0.56);
}

/****************************HEADER*************************************/

ul {
	list-style-type: none;
	margin-left: 30px;
}
ul li a, ul a {
	text-decoration: none;
	font-family: Raleway, Calibri;
}
header {
	height: 80px;
	background-color: #000;
	line-height: 5;
}
header ul li {
	float: left;
}

header ul:first-child li a {
	color: #AA9F9D;
	padding: 0 10px;
	border-right: 1px solid #AA9F9D;
}
header ul:first-child li a:hover {
	color: #B30011;
}

header ul:first-child li:last-child a {
	border-right: 0;
}

header ul:last-child {
	float: right;
	margin-right: 20px;
	text-align: center;
}

header ul:last-child li a {
	color: #FFF;
	background-color: #665F5E;
	border-radius: 50%;
	margin-right: 20px;
	padding: 8px 10px;
}

header ul:last-child li a:hover {
	background-color: #B30011;
}
header ul:last-child li a i {
	width: 15px;
	height: 10px;
}

/******************************************NAV BAR*****************************/

navbar ul {
	display: inline-block;
	text-align: center;
	width: 100%;
  	padding-left: 30px;
  	padding-right: 20px;
  	margin-left: 0;
}

navbar ul li {
	padding: 30px 0 30px 0;
  	width: 12%;
	border-bottom: 4px solid #AA9F9D;
	float: left;
}
navbar ul li:hover {
	border-bottom: 4px solid #33B2FF;
}

navbar ul a {
	color: #000;
	font-size: 0.8em;
}
navbar ul li a:hover {
	color: #665F5E;
}

.bottomNavbar {
	display: inline-block;
	margin: 30px 0 30px 0px;
	padding-right: 10px;
	font-family: Calibri;
	text-align: center;
	width: 100%;
}


navbar .bottomNavbar div:first-child {
	font-size: 0.8em;
	color: #AA9F9D;
	float: left;
	margin-left: 50px;
}

navbar .bottomNavbar div:last-child {
	line-height: 3.5;
	margin-left: 150px;
	float: right;
	margin-right: 50px;
}
navbar .bottomNavbar div:last-child input, navbar .bottomNavbar div:last-child button {
	padding: 8px;
	border-radius: 10px;
	float: left;
	margin-top: 10px;
}
navbar .bottomNavbar div:last-child input {
	background-color: #eaeaea;
	border: none;
}
navbar .bottomNavbar div:last-child button {
	background-color: #33B2FF;
	border: none;
	color: #FFF;
}
navbar .bottomNavbar div:last-child button:hover {
	background-color: #B30011;
	cursor: pointer;
}

/******************FIRST SECTION***************************/

.sectionOne {
	background-color: #F3F3F3;
	height: 460px;
	font-family: Calibri;
}
.sectionOne .firstChild {
	top: 400px;
	margin: 80px auto;
	margin-left: 100px;
	font-size: 1.4em;
	width: 40%;
	float: left;
}

.sectionOne .firstChild a {
	background-color: #33B2FF;
	padding: 8px;
	border-radius: 10px;
	text-decoration: none;
	color: #FFF;
	line-height: 4;
}

.sectionOne .firstChild a:hover {
	background-color: #B30011;
}

.sectionOne .preImageRight {
	margin: 0 auto;
	float: right;
  	padding-right: 30px;
}
.sectionOne .preImageRight img{
	display: inline-block;
	width: 100%;
	height: auto;
	background-color: #555;
	margin: 10px auto;
}


/******************SECOND SECTION***************************/

.secondSection {
	background-color: #FFF;
	font-family: Calibri;
	text-align: center;
	height: 480px;
}
.secondSection h2 {
	color: #33B2FF;
}

.secondSection .shillIcon {
	margin-top: 50px;
	padding-left: 30px;
  	width: 550px;
  	padding-right: 30px;
}

.secondSection .shillIcon img {
	height: auto;
	max-width: 550px;
	width: 100%;
  	float: left;
  	margin-left: 150px;
}

.secondSection .articles {
	float: right;
	margin: 40px auto;
	margin-right: 40px;
	line-height: 1.2;
	width: 40%;
}
.secondSection img {
	width: 85px;
	height: 80px;
	background-color: #555;
}
.secondSection #first, .secondSection #third {
	display: inline-block;
	float: left;
	width: 50%;
	margin-top: 10px;
}
.secondSection #second, .secondSection #fourth {
	margin-top: 10px;
}

/*************************CONTACT US BANNER***************************/

.contact {
	height: 78px;
	width: 95%;
	margin: 20px auto;
	margin-left: 30px;
	background-color: #F3F3F3;
	line-height: 1;
	font-family: Calibri;
	border-left: 5px solid #33B2FF;
}
.leftContact {
	padding: 10px 0;
	position: relative;
	left: 50px;
	float: left;
}
.leftContact h2 {
	font-size: 2em;
	margin-top: 10px;
}
.rightContact {
	display: inline-block;
	margin-top: 20px;
	float: right;
}
.rightContact a {
	display: inline-block;
	color: #F3F3F3;
	text-decoration: none;
	border-radius: 25px;
	font-size: 2em;
	padding: 8px 15px;
	margin-right: 50px;
	margin-left: -150px;
	background-color: #33B2FF;
}
.rightContact a:hover {
	background-color: #B30011;
}

/*****************THIRD SECTION*****************************/

.thirdSection {
	font-family: Calibri;
	float: left;
	height: 500px;
	background-color: #000;
	line-height: 1.5;
	width: 100%;
}
.thirdSection h2 {
	font-size: 0.8em;
	color: #FFF;
	padding-bottom: 15px;
}
.thirdSection p, section:nth-child(6) h3 {
	color: #AA9F9D;
}
.thirdSection div:nth-child(3) p:nth-child(3), 
.thirdSection div:nth-child(3) p:nth-child(4),
.thirdSection div:nth-child(3) p:nth-child(8),
.thirdSection div:nth-child(3) p:nth-child(9) {
	font-size: 0.7em;
}
.thirdSection div:nth-child(3) p:nth-child(5),
.thirdSection div:nth-child(3) p:nth-child(10) {
	margin-top: 10px;
}
.thirdSection h3:nth-child(7) {
	margin-top: 20px;
}
.thirdSection a {
	color: #33B2FF;
	float: right;
	text-decoration: none;
}
.thirdSection li a {
	float: none;
}
.thirdSection a:hover{
	color: #B30011;
}

.thirdSection li {
	margin-left: -30px;
}
.thirdSection li:not(:last-child) {
	border-bottom: 1px solid #232323;
}
.thirdSection img {
	width: 215px;
	height: 90px;
	padding: 3px;
	border: 1px solid #AA9F9D;
}

.thirdSection li::before {
	content: ">> ";
	color: #AA9F9D;
	font-size: 0.8em;
}

.thirdSection div{
	margin-top: 50px;
	padding-left: 30px;
	float: left;
	width: 24%;
}
.thirdSection div:nth-child(4) input, .thirdSection div:nth-child(4) textarea  {
	width: 90%;
	height: 20px;
	margin-top: 5px;
	background-color: #232323;
	border: 0;
	padding: 15px 7px;
	border-radius: 7px;
}

.thirdSection div:nth-child(4) textarea {
	margin-top: 5px;
	height: 100px;
	resize: none;
}

.thirdSection div:nth-child(4) button {
	padding: 8px;
	background-color: #33B2FF;
	border-radius: 7px;
	color: white;
	border: 0;
}
.thirdSection div:nth-child(4) button:hover{
	background-color: #B30011;
	cursor: pointer;
}
/*********************FOOTER*********************************/

footer {
	display: inline-block;
	font-family: Raleway, Calibri;
	font-size: 0.8em;
	border-top: 1px solid #AA9F9D;
	height: 90px;
	width: 100%;
	background-color: #232323;
	margin: 0 auto;
	padding-top: 30px;
	margin-bottom: -10px;
}
footer p:nth-child(1) {
	color: #AA9F9D;
	vertical-align: middle;
	margin-left: 30px;
	float: left;
}
footer p:nth-child(2) {
	color: #AA9F9D;
	text-align: right;
	margin-right: 20px;
	float: right;
}

/***********************R E S P O N S I V E******************/

@media (min-width: 300px) and (max-width: 1200px) {
	body {
		margin: 0;
		padding: 0;
		min-width: 300px;
	}

	/*****HEADER******/

	header {
		margin: 0;
		padding: 0;
	}
	header ul {
		margin: 0 auto;
		padding: 0;
		background-color: #000;
	}
	header ul:first-child li {
		width: 100%;
		text-align: center;
		background-color: #000;
		margin: 0 auto;
	}
	header ul:first-child li a{
		border: none;
	}
	header ul:last-child {
		width: 100%;
		margin: 0 auto;
		padding-left: 10px;
	}
	header ul:last-child li {
		background-color: #000;
		width: 20%;
		margin: 0 auto;
	}

	/*****NAV BAR******/

	navbar {
		width: 100%;
	}
	navbar ul {
		padding: 15px;
		float: none;
	}
	navbar ul a li{
		width: 100%;
	}
	navbar .bottomNavbar {
		text-align: center;
		width: 100%;
	}
	navbar .bottomNavbar div:first-child {
		display: block;
		margin: 0 auto;
		float: none;
	}
	navbar .bottomNavbar div:last-child {
		float: none;
    	position: absolute
		display: block;
		width: 100%;
    	margin-left: 15%;
	}
	navbar .bottomNavbar div:last-child input {
		width: 70%;
	}
  	navbar .bottomNavbar div:last-child button {
    	position: relative;
   		margin: 10px auto;
    	right: 50px;
  	}

	/*********FIRST SECTION***********/

	.sectionOne {
		height: auto;
		overflow: hidden;
	}
	.sectionOne .firstChild {
		display: block;
		width: 80%;
		font-size: 1em;
		margin-left: 10%;
		text-align: center;
	}
  .sectionOne .preImageRight {
	    margin: 0 auto;
	    width: 100%;
	    text-align: center;
	}
	.sectionOne .preImageRight img {
		float: none;
    	margin-left: 15px;
    	max-width: 550px;
	}

	/********SECOND SECTION**************/


	.secondSection{
		height: auto;
		overflow: hidden;
		margin-bottom: 50px;
	}
	.secondSection .shillIcon {
    	max-width: 100%;
    	margin: 0 auto;
    	width: 100%;
    	text-align: center;
		margin-top: 10px;
		float: none;
	}
	.secondSection .shillIcon img {
		float: none;
    	height: auto;
		width: 100%;
		max-width: 320px;
    	margin-left: 15px;
	}
	.secondSection .articles {
		float: none;
		margin: 40px auto;
		line-height: 1.2;
		width: 80%;
	}
	.secondSection img {
		width: 85px;
		height: 80px;
		background-color: #555;
	}
	.secondSection #first, .secondSection #third {
		display: inline-block;
		float: none;
		width: 100%;
		margin-top: 10px;
	}
	.secondSection #second, .secondSection #fourth {
		margin-top: 10px;
	}

	/***********CONTACT US***********************/

	.contact {
		height: auto;
		overflow: hidden;
		width: 95%;
		margin: 20px auto;
		background-color: #F3F3F3;
		line-height: 1;
		font-family: Calibri;
		border-left: 5px solid #33B2FF;
	}
	.leftContact {
		text-align: center;
		display: inline-block;
		width: 95%;
		padding: 10px 0;
		position: relative;
		left: 10px;
	}
	.leftContact h2 {
		font-size: 2em;
		margin-top: 10px;
	}
	.rightContact {
		display: inline-block;
		width: 100%;
		margin-top: 30px;
		text-align: center;
		margin-bottom: 50px;
	}
	.rightContact a {
		display: inline-block;
		color: #F3F3F3;
		text-decoration: none;
		border-radius: 25px;
		font-size: 2em;
		padding: 8px 15px;
		margin-right: 30px;
		margin-left: 30px;
		background-color: #33B2FF;
	}
	.rightContact a:hover {
		background-color: #B30011;
	}

	/*************THIRD SECTION***********************/

	.thirdSection {
		height: auto;
		overflow: hidden;
		padding-bottom: 10px;
	}

	.thirdSection div {
		float: none;
		display: block;
		line-height: 1.5;
		width: 100%;
		padding-right: 10px;
		padding-left: 15px;
	}

	/*************FOOTER***********************/

	footer {
		height: auto;
		overflow: hidden;
		width: 100%;
	}
	footer p:first-child {
		float: none;
		text-align: center;
		margin: 0;
	}
	footer p:last-child {
		float: none;
		text-align: center;
		margin: 0;
	}
}